/* =========================================
   INVITATION - FULL SIDE DECORATION
   ========================================= */

.invitation::before {
    content: "❈\A│\A❖\A│\A❈\A│\A◇\A│\A❖\A│\A❈";

    white-space: pre;

    position: absolute;

    left: 25px;
    top: 35px;
    bottom: 35px;

    transform: none;

    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 2.8;

    text-align: center;

    color: #a77b62;
    opacity: 0.25;
}

.invitation::after {
    content: "❈\A│\A❖\A│\A❈\A│\A◇\A│\A❖\A│\A❈";

    white-space: pre;

    position: absolute;

    right: 25px;
    top: 35px;
    bottom: 35px;

    transform: none;

    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 2.8;

    text-align: center;

    color: #a77b62;
    opacity: 0.25;
}


/* =========================================
   OUR STORY - FULL SIDE DECORATION
   ========================================= */

.story-section::before {
    content: "❈\A│\A❖\A│\A❈\A│\A◇\A│\A❖\A│\A❈";

    white-space: pre;

    position: absolute;

    left: 25px;
    top: 35px;
    bottom: 35px;

    transform: none;

    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 2.8;

    text-align: center;

    color: #a77b62;
    opacity: 0.25;
}

.story-section::after {
    content: "❈\A│\A❖\A│\A❈\A│\A◇\A│\A❖\A│\A❈";

    white-space: pre;

    position: absolute;

    right: 25px;
    top: 35px;
    bottom: 35px;

    transform: none;

    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 2.8;

    text-align: center;

    color: #a77b62;
    opacity: 0.25;
}
